/* Containers */
.container-text  {
    padding: 0 1rem;
}

/* */

/* Borders */
.border-md {
    border-radius: .4rem !important;
}

/* Typography */
p {
    font-size: .8rem;
}

.text-info {
    color: #444444;
}