/* Borders */
.border-md {
    border-radius: .4rem !important;
}

/* Containers */
.container-text  {
    margin: 0 1rem;
}

/* Margins */
.margin-md {
    margin: 1rem;
}

/* Typography */
p {
    font-size: .8rem;
}

.text-info {
    color: #444444;
}